# SetEnv CI_ENV local

RewriteEngine On
  RewriteCond $1 !^(index\.php|bower_components|node_modules|assets|upload|robots\.txt|healthcheck\.html|forbidden\.html)
  RewriteRule ^(.*)$ /index.php/$1 [L]
  RewriteCond %{HTTP:Authorization} ^(.*)
